<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SqlTableDiff.Defaults.Tables" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="SqlTableDiff.Defaults.Source" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="SqlTableDiff.Defaults.Output" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="SqlTableDiff.Defaults.Destination" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="SqlTableDiff.Defaults.AdvancedOptions" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<SqlTableDiff.Defaults.Tables>
   <setting name="DefaultList" serializeAs="String">
    <value>CCS_Default, CCS_Default_Group</value>
   </setting>
  </SqlTableDiff.Defaults.Tables>
		<SqlTableDiff.Defaults.Source>
   <setting name="Server" serializeAs="String">
    <value>DbSvr</value>
   </setting>
   <setting name="DbName" serializeAs="String">
    <value>Dpts</value>
   </setting>
   <setting name="DbSchema" serializeAs="String">
    <value>dbo</value>
   </setting>
   <setting name="AuthType" serializeAs="String">
    <value>Windows</value>
   </setting>
   <setting name="AuthUser" serializeAs="String">
    <value>sa</value>
   </setting>
   <setting name="AuthPass" serializeAs="String">
    <value />
   </setting>
  </SqlTableDiff.Defaults.Source>
		<SqlTableDiff.Defaults.Output>
   <setting name="SingleScript" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Folder" serializeAs="String">
    <value>Output</value>
   </setting>
  </SqlTableDiff.Defaults.Output>
		<SqlTableDiff.Defaults.Destination>
   <setting name="Server" serializeAs="String">
    <value>DbSvr</value>
   </setting>
   <setting name="DbName" serializeAs="String">
    <value>DptsNet</value>
   </setting>
   <setting name="DbSchema" serializeAs="String">
    <value>dbo</value>
   </setting>
   <setting name="AuthType" serializeAs="String">
    <value>Windows</value>
   </setting>
   <setting name="AuthUser" serializeAs="String">
    <value>sa</value>
   </setting>
   <setting name="AuthPass" serializeAs="String">
    <value />
   </setting>
  </SqlTableDiff.Defaults.Destination>
		<SqlTableDiff.Defaults.AdvancedOptions>
			<setting name="ColumCompare" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SchemaStrict" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FastCompare" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LargeObjectBytes" serializeAs="String">
				<value />
			</setting>
			<setting name="ConnectTimeout" serializeAs="String">
				<value />
			</setting>
			<setting name="RetryCount" serializeAs="String">
				<value />
			</setting>
			<setting name="RetryInterval" serializeAs="String">
				<value />
			</setting>
		</SqlTableDiff.Defaults.AdvancedOptions>
	</applicationSettings>
</configuration>